.container {
    border: 2px solid;
    min-height: 10rem;
    max-width: 40rem;
    display: flex;
    gap: 1em;
    padding: 1em;
    overflow: hidden;
}

.list-item {
    min-width: 5rem;
    border: 1px solid #ccc;
    animation-name: scroll;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-20rem); }
}